extends layout

block content
    link(rel='stylesheet' href='./stylesheets/css/admin.css')
    nav
        a(href='#lookup-users') 사용자 관리
        a(href='#change-items') 아이템 관리
    section
        div#users
            h1#lookup-users 사용자 관리
            button#button-lookup 사용자 조회
            section#table-container
        div#item-updata
            h1#change-items 아이템 추가
            form(action='data/upload/image' method='post' enctype='multipart/form-data')
                div
                    span 업로드 이미지
                    input(type='file' name='imagefile')
                    input(type='submit' value='업로드' id='image-upload' style='visibility:hidden')
            form
                div
                    label(for='ui') 아이템 종류 선택
                    select(name='ui' id='ui')
                        option(value='' hidden disabled selected) 아이템 종류
                        option(value='card') 메인카드
                        option(value='mini') 미니 캐로셀
                        option(value='long') 카드 캐로셀
                div#input-section
                div(class='show-right')
                    input(type='button' value='업로드' id='upload')
    script(type='module' src='./javascripts/admin.js')