extends layout

block content
    link(rel='stylesheet' href='./stylesheets/css/admin.css')
    nav
        a(href='#lookup-users') 사용자 관리
        a(href='#change-items') 아이템 관리
    section
        div#users
            h1#lookup-users 사용자 관리
            button#button-lookup 사용자 조회
            section#table-container
        div#item-updata
            h1#change-items 아이템 관리
            form(action='admin/upload' method='post' enctype='multipart/form-data')
    script(type='module' src='./javascripts/admin.js')