$default-space: 1rem

nav
    text-align: right
    border-bottom: 1px solid black
    margin-bottom: $default-space
    padding-bottom: calc(#{$default-space} / 2)
    a
        text-decoration: none
        color: black
        margin-left: $default-space
    a:hover
        cursor: pointer
        text-decoration: underline

p
    max-width: calc(#{$default-space} * 50)
    text-align: center
    padding: $default-space
    background-color: lightgrey
    border-radius: 10px
    color: darkred
    margin: auto
    margin-bottom: $default-space
    font-weight: bold

div
    max-width: calc(#{$default-space} * 50)
    margin: auto
    h1
        font-weight: 100
        margin: $default-space $default-space $default-space 0
        font-size: calc(#{$default-space} * 1.5)
        border-left: 3px solid grey
        padding-left: $default-space
        display: inline-block
    span, label
        margin-right: $default-space
        display: inline-block
        width: calc(#{$default-space} * 10)
    div
        border-bottom: 1px dashed lightgrey
        padding-bottom: calc(#{$default-space} / 2)
        margin-bottom: $default-space

button, input[type='button'], select
    background-color: white
    border-radius: 10px
    height: calc(#{$default-space} * 2)
    padding: 0 $default-space
    
button, input[type='button']
    margin-left: $default-space

input[type='text']
    width: calc(100% - 13.5rem)
    border-radius: 10px
    height: calc(#{$default-space} * 2)
    padding: 0 $default-space

table
    width: 100%
    border: 1px solid grey
    margin: 1rem 0
    th, td
        border: 1px solid lightgrey
        text-align: center
        padding: calc(#{$default-space} / 2)
        font-size: calc(#{$default-space} * 1.2)
    th 
        font-weight: bold
        border-bottom: double grey

.select
    background-color: linen

.show-right
    display: flex
    justify-content: flex-end